<br/><br/>
<div class="page-width">
  <h3 class="fwb ft1 tt-u font1 bghead">Headings</h3>
  <div class="section">


    <h1 class="fw-700 tt-u font1">Heading h1</h1>
    <h2 class="fw-600 tt-c font2">Heading h2</h2>
    <h3 class="fw-500 tt-l font1">Heading h3</h3>
    <h4 class="fw-400 tt-n font1">Heading h4</h4>
    <h5 class="fw-300 tt-u font1">Heading h5</h5>
    <h6 class="fw-400 tt-u font1">Heading h6</h6>


    <hr/>
    <h3 class="fwb tt-u font1">HTML Code</h3>

<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;h1</span> <span class="token-attr-name">class</span>="<span class="token-class-name">fw-700 tt-u font1</span>"&gt;Heading h1&lt;/h1&gt;
&lt;h2</span> <span class="token-attr-name">class</span>="<span class="token-class-name">fw-600 tt-c font2</span>"&gt;Heading h2&lt;/h2&gt;
&lt;h3</span> <span class="token-attr-name">class</span>="<span class="token-class-name">fw-500 tt-l font1</span>"&gt;Heading h3&lt;/h3&gt;
&lt;h5</span> <span class="token-attr-name">class</span>="<span class="token-class-name">fw-400 tt-n font1</span>"&gt;Heading h4&lt;/h4&gt;
&lt;h6</span> <span class="token-attr-name">class</span>="<span class="token-class-name">fw-300 tt-u font1</span>"&gt;Heading h5&lt;/h5&gt;
</code></pre>  

<p><b>fw</b> class series is used for font weight</p>
<p><b>tt</b> class series is used for text transform</p>
<p><b>font1, font2 </b> class is used for font family</p>

</div>

<h3 class="fwb ft1 tt-u font1 bghead">BUTTONS</h3>

  <div class="section">

    <a href="#" class="btn btn-sm">Button Small</a> &nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-md">Button Medium</a> &nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-lg">Button Large</a> &nbsp;&nbsp;&nbsp;<br/>
    <br/><br/>
    <a href="#" class="btn btn-md">Button Flat</a> &nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-md btn-rounded">Button Roudned</a> &nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-md btn-round">Button Round</a> &nbsp;&nbsp;&nbsp;
    <br/><br/><br/>
    <a href="#" class="btn btn-md">Primary Button</a> &nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-md btn--secondary">Secondary Button</a> &nbsp;&nbsp;&nbsp;

    <hr/>
    <h3 class="fwb tt-u font1">HTML Code</h3>
    
    
<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;a href="#"<span class="token-attr-name"> class</span><span class="token-class-name"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-sm<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button Small&lt;/a>
&lt;a href="#"<span class="token-attr-name"> class</span><span class="token-class-name"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-md<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button Medium&lt;/a>
&lt;a href="#"<span class="token-attr-name"> class</span><span class="token-class-name"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-lg<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button Large&lt;/a>   
<br/>&lt;a href="#"<span class="token-attr-name"> class</span><span class="token-class-name"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-md<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button Flat&lt;/a>   
&lt;a href="#"<span class="token-attr-name"> class</span><span class="token-class-name"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-md btn-rounded<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button Rounded&lt;/a> 
&lt;a href="#"<span class="token-attr-name"> class</span><span class="token-class-name"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-md btn-round<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button Round&lt;/a>   
<br/>&lt;a href="#"<span class="token-attr-name"> class</span><span class="token-class-name"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-md<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button Primary&lt;/a>  
&lt;a href="#"<span class="token-attr-name"> class</span><span class="token-class-name"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-md btn--secondary<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Button Secondary&lt;/a>   
</code></pre></div>

<h3 class="fwb ft1 tt-u font1 bghead">Unorder List 1</h3>

    <table>
      <tr>
        <td valign="top">
         <ul class="list-bullet">
      <li>Lorem ipsum dolor sit amet conse ctetur</li>
      <li>Ut enim ad minim veniam, quis nostrud</li>
      <li>Eexercitation ullamco laboris nisi ut aliquip ex ea</li>
      <li>Ccommodo consequat. Duis aute irure dolor</li>
    </ul>    
     
        </td>
        <td  valign="top">  <h3 class="fwb tt-u font1">HTML Code</h3>        
    
    <pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;ul <span class="token-attr-name">class</span><span class="token-class-name">="list-bullet"</span>>
&lt;li&gt;Lorem ipsum dolor sit amet conse ctetur&lt;/li&gt;
&lt;li&gt;Ut enim ad minim veniam, quis nostrud &lt/li&gt;
&lt;li&gt;Eexercitation ullamco laboris nisi ut aliquip ex ea&lt;/li&gt;
&lt;li&gt;Commodo consequat. Duis aute irure dolor&lt;/li&gt;
&lt;/ul&gt;</code></pre>
    
    Class name is <b>list-bullet</b> for bullet list.</td>
      </tr>
    </table>


<h3 class="fwb ft1 tt-u font1 bghead">Unorder List 2</h3>

 <table>
      <tr>
        <td valign="top">
        <ul class="list-square">
      <li>Lorem ipsum dolor sit amet conse ctetur</li>
      <li>Ut enim ad minim veniam, quis nostrud</li>
      <li>Eexercitation ullamco laboris nisi ut aliquip ex ea</li>
      <li>Ccommodo consequat. Duis aute irure dolor</li>
    </ul>    
  
   
        </td>
        <td  valign="top">   <h3 class="fwb tt-u font1">HTML Code</h3>    <pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;ul <span class="token-attr-name">class</span><span class="token-class-name">="list-square"</span>>
&lt;li&gt;Lorem ipsum dolor sit amet conse ctetur&lt;/li&gt;
&lt;li&gt;Ut enim ad minim veniam, quis nostrud &lt/li&gt;
&lt;li&gt;Eexercitation ullamco laboris nisi ut aliquip ex ea&lt;/li&gt;
&lt;li&gt;Commodo consequat. Duis aute irure dolor&lt;/li&gt;
&lt;/ul&gt;</code></pre>
    
    Class name is <b>list-square</b> for square list.</td>
      </tr>
    </table>

<h3 class="fwb ft1 tt-u font1 bghead">Unorder List 3</h3>


 <table>
      <tr>
        <td valign="top">
        <ul class="list-arrow">
      <li>Lorem ipsum dolor sit amet conse ctetur</li>
      <li>Ut enim ad minim veniam, quis nostrud</li>
      <li>Eexercitation ullamco laboris nisi ut aliquip ex ea</li>
      <li>Ccommodo consequat. Duis aute irure dolor</li>
    </ul>  
  
   
        </td>
        <td  valign="top">  <h3 class="fwb tt-u font1">HTML Code</h3>   <pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;ul <span class="token-attr-name">class</span><span class="token-class-name">="list-arrow"</span>>
&lt;li&gt;Lorem ipsum dolor sit amet conse ctetur&lt;/li&gt;
&lt;li&gt;Ut enim ad minim veniam, quis nostrud &lt/li&gt;
&lt;li&gt;Eexercitation ullamco laboris nisi ut aliquip ex ea&lt;/li&gt;
&lt;li&gt;Commodo consequat. Duis aute irure dolor&lt;/li&gt;
&lt;/ul&gt;</code></pre>
    
    Class name is <b>list-arrow</b> for square list.</td>
      </tr>
    </table>


<h3 class="fwb ft1 tt-u font1 bghead">Order List</h3>

 <table>
      <tr>
        <td valign="top">
      <ol class="order-list">
      <li>Lorem ipsum dolor sit amet conse ctetur</li>
      <li>Ut enim ad minim veniam, quis nostrud</li>
      <li>Eexercitation ullamco laboris nisi ut aliquip ex ea</li>
      <li>Ccommodo consequat. Duis aute irure dolor</li>
    </ol>  
  
   
        </td>
        <td  valign="top">  <h3 class="fwb tt-u font1">HTML Code</h3>        
    
    <pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;ol <span class="token-attr-name">class</span><span class="token-class-name">="order-list"</span>>
&lt;li&gt;Lorem ipsum dolor sit amet conse ctetur&lt;/li&gt;
&lt;li&gt;Ut enim ad minim veniam, quis nostrud &lt/li&gt;
&lt;li&gt;Eexercitation ullamco laboris nisi ut aliquip ex ea&lt;/li&gt;
&lt;li&gt;Commodo consequat. Duis aute irure dolor&lt;/li&gt;
&lt;/ol&gt;</code></pre> 
          Class name is <b>order-list</b> for square list.
    </td>
      </tr>
    </table><br/>
 
<h3 class="fwb ft1 tt-u font1 bghead">Other class name</h3>

<h2 class="fw-600">Font Weight Class Name</h2>
<hr/>

<p class="fw-700 h4">This is bold font. Class name for bold font is <span style="color:#d73038">"fw-700"</span></p>
<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;p <span class="token-attr-name">class</span><span class="token-class-name">="fw-700"</span>>This is bold font.&lt;/p&gt;
</code></pre>

<span class="fw-600 font1 h4">This is semi bold font. Class name for bold font is <span style="color:#d73038">"fw-600"</span></span>
<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;span <span class="token-attr-name">class</span><span class="token-class-name">="fw-600"</span>>This is semi bold font.&lt;/span&gt;
</code></pre>

<span class="fw-500 font1 h4">This is medium font. Class name for medium font is <span style="color:#d73038">"fw-500"</span></span>. Some fonts do not support medium font.
<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;span <span class="token-attr-name">class</span><span class="token-class-name">="fw-500"</span>>This is medium font.&lt;/span&gt;
</code></pre>

<span class="fw-400 font1 h4">This is normal font. Class name for normal font is <span style="color:#d73038">"fw-400"</span></span>
<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;span <span class="token-attr-name">class</span><span class="token-class-name">="fw-400"</span>>This is normal font.&lt;/span&gt;
</code></pre>

<span class="fw-300 font1 h4">This is light font. Class name for light font is <span style="color:#d73038">"fw-300"</span></span>
<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;span <span class="token-attr-name">class</span><span class="token-class-name">="fw-300"</span>>This is light font.&lt;/span&gt;
</code></pre>

<br/>
<h2 class="fw-600">Font Family Class Name</h2>
<hr/>


<span class="font1 h4 fw-600">This is font family 1. Class name for font 1 is <span style="color:#d73038">"font1"</span></span>. 
<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;span <span class="token-attr-name">class</span><span class="token-class-name">="font1"</span>>This is font family one.&lt;/span&gt;
</code></pre>

<span class="font2 h4 fw-600">This is font family 2. Class name for font 2 is <span style="color:#d73038">"font2"</span></span>. 
<pre class="htmlcode"><code data-lang="html" class=" language-html">&lt;span <span class="token-attr-name">class</span><span class="token-class-name">="font1"</span>>This is font family two.&lt;/span&gt;
</code></pre>

</div>

<style>
  th, td { padding:20px;}
.htmlcode { background:#f8f9fa; font-size:15px; border-radius:5px; padding:15px;}
  .token-attr-name{ color:#006ee0;}
  .token-class-name{ color:#d73038;}
  .bghead { background:#eee; padding:15px 20px;}
  .section {padding:30px;}
</style>